<!DOCTYPE html>
<html>
<head>
  <title>Forums</title>
</head>
<body>
  <h1>Forums</h1>
  <ul>
    <% forums.forEach((forum) => { %>
      <li>
        <a href="/forums/<%= forum._id %>">
          <%= forum.name %>
        </a>
      </li>
    <% }) %>
  </ul>
  <a href="/forums/create">Create New Forum</a>
</body>
</html>
